<!DOCTYPE html>
<html>
  <head>
    <title>PHP enabled for {{ item }}.{{ domain_base }}</title>
  </head>
  <body>
    <?php echo '<p>{{ item }}.{{ domain_base }} website works. Now copy over content</p>'; ?>
  </body>
</html>
