#%Module 1.0
#
#  ultrascan/build module for use with 'environment-modules' package:
#
##
## N.B. this file has qt & qwt version specfic information
## typically placed in /etc/modulefiles/ultrascan/home-gui-build
##
  
proc ModulesHelp { } {
   puts stderr "This module switches ultrascan to the one in your home directory\nUse for building and running\n"
}

module-whatis "This module switches ultrascan to the one in your home directory\nUse for building and running\n"


# Only allow one ultrascan/* module to be loaded at a time
conflict ultrascan

# Define prefix so PATH and MANPATH can be updated.

setenv        US_GUI        $::env(HOME)/ultrascan3
setenv        ULTRASCAN     $::env(HOME)/ultrascan3
setenv        QTDIR         /opt/qt-{{ qt_version }}
setenv        QWTDIR        /opt/qt-{{ qt_version }}-qwt-{{ qwt_version }}
setenv        US3DIR	    $::env(HOME)/ultrascan3
setenv        QTBIN	    /opt/qt-{{ qt_version }}/bin
setenv        QTLIB	    /opt/qt-{{ qt_version }}/lib
setenv        QTINC	    /opt/qt-{{ qt_version }}/include
setenv        US3BIN	    $::env(HOME)/ultrascan3/bin
setenv        US3LIB	    $::env(HOME)/ultrascan3/lib
setenv        us3	    $::env(HOME)/ultrascan3

prepend-path  PATH          $::env(HOME)/ultrascan3/bin:/opt/qt-{{ qt_version }}/bin
prepend-path  LD_LIBRARY_PATH $::env(HOME)/ultrascan3/lib:/opt/qt-{{ qt_version }}/lib:/opt/qt-{{ qt_version }}-qwt-{{ qwt_version }}/lib

